<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weather Site</title>

  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Know more about
      <a href="/about/me">{{firstName}}</a>
    </p>
    <p>This site was created by Fernando and it uses mapbox and darksky</p>
    <img src="/img/image.png" alt="color" title="color">
  </div>


  {{>footer}}
</body>

</html>